<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>103178339647-i7bra4dt7psecdqjtsic2hdt81fpcneu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.103178339647-i7bra4dt7psecdqjtsic2hdt81fpcneu</string>
	<key>API_KEY</key>
	<string>AIzaSyBPcIWXIQouiSzVhR0UUpbDOgGQC5Hb_uo</string>
	<key>GCM_SENDER_ID</key>
	<string>103178339647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nus.shailesh.student.My-App</string>
	<key>PROJECT_ID</key>
	<string>my-app-4bbe5</string>
	<key>STORAGE_BUCKET</key>
	<string>my-app-4bbe5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:103178339647:ios:3c69b0bd8e704df5</string>
	<key>DATABASE_URL</key>
	<string>https://my-app-4bbe5.firebaseio.com</string>
</dict>
</plist>